<footer class="footer border-top">
    <div class="f-icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="f-brand">
        &copy; Wanderlust Private Limited.
    </div>
    <div class="f-cond">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    <p>This is a demo website by <strong>Kshitij Singh</strong>, a student of <strong>IIIT Manipur</strong>. Contact: <a
            href="tel:+917081600352">7081600352</a> |
        Email: <a href="mailto:kshitijsin07@gmail.com">kshitijsin07@gmail.com</a></p>
</footer>