<% layout("./layouts/boilerplate.ejs") %>

    <body>
        <br>
        <h2>All Listings</h2>
        <!-- <br> -->
        <!-- <form action="/listings/new" method="get">
            <button>Create Listing</button>
        </form>
        <br> -->
        <div class="r">
            <% for(const list of allListings){ %>
                <div class="card hovering" style="width: 20rem;">
                    <a href="/listings/<%= list._id %>">
                        <img src="<%= list.image.url %>" class="card-img-top" style="height: 18rem;" alt="Imagelisting">
                        <div class="card-body">
                            <p class="card-text">
                            <h4>
                                <%=list.title %>
                            </h4>
                            <p>&#8377;<%=list.price.toLocaleString("en-IN")%>/night</p>
                            </p>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </body>